body{
    width: 100%;
    box-sizing: border-box;
    position: flexed;
}

.header{
    display: table-cell;
    text-align: left;
    position: relative;
}

.COACHTECH{
    font-size: 25px;
    float: left;
    padding-right: 50%;
}

.header__nav{
    font-size: 20px;
}

a{
    padding-right:30px;
}

.main__smile{
    font-size: 50px;
    padding-top: 300px;
}

main{
    position: relative;
    top: 90%;
}
.main__box{
    height: 200px;
    width: 70%;
    background-color: blue;
}

img{
    position: absolute;
    margin: -400px auto;
    left: 60%;
    width: 500px;
    height: 300px;
}