body {
    width: 100%;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
}

.header-ttl {
    font-size: 25px;
    width: 80px;
}

.header-nav-list {
    display: flex;
    font-weight: bold;
    list-style: none;
}

.header-nav-item:not(:last-child){
    margin-right: 30px;
}

.main__smile {
    font-size: 50px;
    padding-top: 300px;
}

main {
    position: relative;
    top: 90%;
}

.main__box {
    height: 200px;
    width: 70%;
    background-color: blue;
}

img {
    position: absolute;
    margin: -400px auto;
    left: 60%;
    width: 500px;
    height: 300px;
}